<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
		<cpn></cpn>
    <cpn>
      <template slot-scope="slot">
				<span v-for="item in slot.data">{{item}}-</span>
			</template>
    </cpn>
  </div>
  <template id="cpn">
    <div>
      <p>作用域插槽</p>
      <slot :data="yuyanS">
        <ul>
          <li v-for="item in yuyanS">{{item}}</li>
        </ul>
      </slot>
    </div>
  </template>
  <script src="../node_modules/_vue@2.6.12@vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      components: {
        cpn: {
          template: "#cpn",
          data() {
            return {
              yuyanS: ["javascript", "python", "java", "go", "swift", "java"]
            }
          }
        }
      }
    })
  </script>
</body>

</html>